/* General Setup */
:root {
    --color-primary: #007bff;
    --color-primary-dark: #0056b3;
    --color-secondary: #2DD574;
    --color-text-primary: #043873;
    --color-text-secondary: #555;
    --color-border: #ddd;
    --color-bg-light: #FEF9F6;
    --color-shadow-light: rgba(0, 0, 0, 0.1);
    --color-shadow-strong: rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-bg-light);
    color: var(--color-text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
}

.login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--color-shadow-light);
    text-align: center;
}

.logo img {
    width: 120px;
    margin-bottom: 1rem;
}

h2 {
    color: var(--color-text-primary);
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: var(--color-text-secondary);
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    font-size: 1rem;
    color: var(--color-text-primary);
}

button.btn {
    width: 100%;
    padding: 1rem;
    background-color: #195046;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #15B097;
}

.forgot-password {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.forgot-password a {
    color: var(--color-primary);
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
