.user-table table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.user-table th, .user-table td {
  padding: 14px 18px;
  text-align: left;
  color: #263D67;
}

.user-table thead {
  background: #2DD574;
  color: white;
}

.user-table tr:nth-child(even) {
  background: #f8f9fc;
}
